<a href="https://colab.research.google.com/github/GOWRISHANKARK80/Diabetes-prediction-database/blob/main/Diabetes_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("/content/diabetes_prediction_dataset.csv")
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [47]:
df["gender"].value_counts()

gender
Female    58552
Male      41430
Other        18
Name: count, dtype: int64

In [8]:
df[(df["gender"]=="Male") & (df["diabetes"]==1)].loc[:,["gender","diabetes"]]

      gender  diabetes
26      Male         1
38      Male         1
40      Male         1
55      Male         1
81      Male         1
...      ...       ...
99826   Male         1
99829   Male         1
99867   Male         1
99897   Male         1
99938   Male         1

[4039 rows x 2 columns]

In [51]:
df[(df["gender"]=="Male") & (df["diabetes"]==1)].loc[:,["gender","diabetes"]].value_counts()

gender  diabetes
Male    1           4039
Name: count, dtype: int64

In [53]:
df[df["gender"]=="Male"][df["diabetes"]==1].value_counts()

<ipython-input-53-2265ca90ed25>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df["gender"]=="Male"][df["diabetes"]==1].value_counts()

gender  age   hypertension  heart_disease  smoking_history  bmi    HbA1c_level  blood_glucose_level  diabetes
Male    60.0  0             0              never            27.32  6.5          300                  1           2
        38.0  0             0              No Info          31.85  5.7          220                  1           2
        66.0  0             0              No Info          27.32  5.7          130                  1           2
        49.0  0             0              never            27.32  6.2          240                  1           2
        3.0   0             0              No Info          27.32  5.7          200                  1           1
                                                                                                                ..
        56.0  1             0              current          28.47  6.1          300                  1           1
                                           former           22.51  6.0          130                  1           1
                                                            29.24  5.7          300                  1           1
                                                            31.66  7.5          140                  1           1
        80.0  1             1              not current      27.32  7.5          159                  1           1
Name: count, Length: 4035, dtype: int64

In [9]:
df[(df["gender"]=="Female") & (df["diabetes"]==1)].loc[:,["gender","diabetes"]]

       gender  diabetes
6      Female         1
53     Female         1
59     Female         1
87     Female         1
94     Female         1
...       ...       ...
99929  Female         1
99935  Female         1
99957  Female         1
99962  Female         1
99979  Female         1

[4461 rows x 2 columns]

In [54]:
df[df["gender"]=="Female"][df["diabetes"]==1].value_counts()

<ipython-input-54-49ee9d20bce2>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df["gender"]=="Female"][df["diabetes"]==1].value_counts()

gender  age   hypertension  heart_disease  smoking_history  bmi    HbA1c_level  blood_glucose_level  diabetes
Female  80.0  0             0              never            27.32  8.2          280                  1           3
                                           No Info          27.32  6.5          240                  1           2
              1             0              No Info          27.32  7.5          160                  1           2
              0             0              No Info          27.32  8.8          240                  1           2
        53.0  0             0              never            27.32  6.6          155                  1           2
                                                                                                                ..
        56.0  0             0              never            33.31  6.2          220                  1           1
                                                            33.62  8.2          300                  1           1
                                                            34.07  6.8          126                  1           1
                                                            34.91  6.8          240                  1           1
        80.0  1             1              not current      29.33  8.2          140                  1           1
Name: count, Length: 4447, dtype: int64

In [61]:
df[df["gender"].isin(["Male","Female"])][df["diabetes"]==1].value_counts()

<ipython-input-61-cc2d66925cc8>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df["gender"].isin(["Male","Female"])][df["diabetes"]==1].value_counts()

gender  age   hypertension  heart_disease  smoking_history  bmi    HbA1c_level  blood_glucose_level  diabetes
Female  80.0  0             0              never            27.32  8.2          280                  1           3
Male    38.0  0             0              No Info          31.85  5.7          220                  1           2
Female  80.0  0             0              never            27.32  5.8          280                  1           2
                                           No Info          27.32  8.8          240                  1           2
                                                                   9.0          220                  1           2
                                                                                                                ..
        68.0  0             0              former           28.00  6.2          160                  1           1
                                                            25.12  7.5          240                  1           1
                                           ever             38.23  6.5          220                  1           1
                                                            37.08  8.2          140                  1           1
Male    80.0  1             1              not current      27.32  7.5          159                  1           1
Name: count, Length: 8482, dtype: int64

In [26]:
df[(df["blood_glucose_level"]>=200) & (df["hypertension"]==1) & (df["heart_disease"]==1) & df["smoking_history"].isin(["current","not current"]) & (df["diabetes"]==0)]

gender  age   hypertension  heart_disease  smoking_history  bmi    HbA1c_level  blood_glucose_level  diabetes
Female  63.0  1             1              current          34.32  4.8          200                  0           1
        76.0  1             1              not current      27.32  5.7          200                  0           1
Male    57.0  1             1              not current      27.63  5.0          200                  0           1
Name: count, dtype: int64

In [48]:
df[df["gender"].isin(["Male","Female"])][df["blood_glucose_level"]>=200]

<ipython-input-48-41beda2725bf>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df["gender"].isin(["Male","Female"])][df["blood_glucose_level"]>=200]

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
6,Female,44.0,0,0,never,19.31,6.5,200,1
13,Female,67.0,0,0,never,25.69,5.8,200,0
16,Male,15.0,0,0,never,30.36,6.1,200,0
26,Male,67.0,0,1,not current,27.32,6.5,200,1
30,Female,53.0,0,0,No Info,31.75,4.0,200,0
...,...,...,...,...,...,...,...,...,...
99938,Male,55.0,0,1,former,30.42,6.2,300,1
99941,Female,38.0,0,0,No Info,32.66,5.0,200,0
99957,Female,61.0,0,0,No Info,34.45,6.5,280,1
99962,Female,58.0,1,0,never,38.31,7.0,200,1
99979,Female,61.0,0,0,current,30.11,6.2,240,1

In [31]:
df["gender"].value_counts()

gender
Female    58552
Male      41430
Other        18
Name: count, dtype: int64

In [32]:
df["gender"][df["blood_glucose_level"]>=200].value_counts()

gender
Female    6131
Male      4745
Other        1
Name: count, dtype: int64

In [33]:
df["gender"][df["blood_glucose_level"]>=200][df["hypertension"]==1].value_counts()

gender
Female    751
Male      623
Name: count, dtype: int64

In [34]:
df["gender"][df["blood_glucose_level"]>=200][df["hypertension"]==1][df["heart_disease"]==1].value_counts()

gender
Female    105
Male      100
Name: count, dtype: int64

In [35]:
df["gender"][df["blood_glucose_level"]>=200][df["hypertension"]==1][df["heart_disease"]==1][df["smoking_history"].isin(["current","not current"])].value_counts()

gender
Male      19
Female    16
Name: count, dtype: int64

In [36]:
df["gender"][df["blood_glucose_level"]>=200][df["hypertension"]==1][df["heart_disease"]==1][df["smoking_history"].isin(["current","not current"])][df["diabetes"]==0].value_counts()

gender
Female    2
Male      1
Name: count, dtype: int64